img {border-radius: 50%;
    padding: 20px;
    align-items: left;
}
h1{
    color:black;
    font-size: 40px;
    font-weight:100;
    position:relative;
    bottom: 150px;
    left:290px;
}
.personal-info{
    color:#979292;
    text-align: right;
    position:relative;
    bottom:250px;
}
.three{
    position:relative;
    left: 140px;
    bottom: 50px;
    color:#979292
}
table{
    border-collapse:collapse;
    position:relative;
    left: 140px;
    bottom: 50px;
    color:#979292
}
.seven{
    position:relative;
    left: 120px;
    bottom: 50px;
    color:#979292
}
.nine{
    position:relative;
    left: 120px;
    bottom: 50px;
    color:#979292
}
h2{
    color:#fca910
}