img {
    border-radius: 50%;
    /* padding: 20px; */
    align-items: left;
}

.info {
    display: flex;
    color: #979292;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    /* flex-direction: space-evenly; */
}
.info-1 {
    display: flex;

    flex-direction: row;
}
h1 {
    color: black;
    font-size: 40px;
    font-weight: 100;
    position: relative;
    /* bottom: 150px; */
    /* left:290px; */
}

.personal-info {
    text-align: right;
    /* text-align: center; */

    /* position: relative; */
    /* bottom: 250px; */
}

.three {
    position: relative;
    left: 140px;
    bottom: 50px;
    color: #979292
}

table {
    border-collapse: collapse;
    position: relative;
    left: 140px;
    bottom: 50px;
    color: #979292
}

.seven {
    position: relative;
    left: 120px;
    bottom: 50px;
    color: #979292
}

.nine {
    position: relative;
    left: 120px;
    bottom: 50px;
    color: #979292
}

h2 {
    color: #fca910
}